
@{
    ViewBag.Title = "MyEverNote-Kayıt Başarılı";
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/login-register.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header bg-danger text-center">
                <h3>Yönlendiriliyorsunuz...</h3>
            </div>
            <div class="card-body bg-light font-weight-bold">
                <div class="justify-content-end text-primary">
                    <div class="text-center">
                        <h2>
                            <i class="fas fa-check"></i>
                            Kayıt oldunuz...
                        </h2>
                    </div>
                    <hr />
                    <div>
                        <p class="text-justify text-primary">
                            Lütfen E-Posta hesabına gönderdiğimiz aktivasyon link'ine tıklayarak hesabınızı aktive ediniz. Hesabınızı aktive etmeden not ekleyemez ve beğeni yapamazsınız.!!!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("footer").hide();
        
        setTimeout(function () {
            window.location = "/Home/Index";
        },10000)
    });
</script>